{% extends 'teachers/teachers_base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<h2 class="h1 fw-bold text-center">All Teachers</h2>
<hr>



 <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Class Teacher Of</th>
          <th scope="col">Full Name</th>
          <th scope="col">Teacher subjects</th>
          <th scope="col">Phone number</th>
          <th scope="col">Email</th>
          <th scope="col">Verification Status</th>
        </tr>
      </thead>
      <tbody>
            {% for teacher in  all_teacher %}
                    <tr>
                          <th scope="row">
                            <a href="">
                              <button type="button" class="btn btn-dark btn-sm">{{teacher.class_teacher_roll}}</button>
                            </a>
                            
                          </th>

                          <td>{{teacher.user.get_full_name}}</td>

                          <td>
                            {% for subject in  teacher.teacher_subjects.all %}
                            <span class="badge bg-primary">{{subject.subject_name}}</span>
                            {% endfor %}

                          </td>
                          <td>{{teacher.phone_number}}</td>
                          <td>{{teacher.user.email}}</td>

                          <td>
                            {% if teacher.verify %}
                            <a href="{% url 'verify_teacher' teacher.pk %}">
                              <button type="button" class="btn btn-success btn-sm px-3 mt-2" data-mdb-toggle="tooltip" title="Verified Teacher">
                                <i class="fas fa-check"></i>
                              </button></a>
                            {% else %}
                              <a href="{% url 'verify_teacher' teacher.pk %}">
                                   <button type="button" class="btn btn-danger btn-sm px-3  mt-2" data-mdb-toggle="tooltip" title="Click Here To verify this Teacher">
                                    <i class="fas fa-times"></i>
                                  </button>
                              </a>                         


                            {% endif %}
                            <a href="{% url 'teacher_update' teacher.pk %}">
                             <button type="button" class="btn btn-secondary btn-sm px-3 mt-2">
                              <i class="fas fa-pencil-alt"></i>
                            </button></a>
                          </td>
                    </tr>
            {% endfor %}


      </tbody>
    </table>
</div> 



 {% endblock content %}