{% extends 'teachers/teachers_base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<h2 class="h1 fw-bold text-center">All Subjects</h2>
<hr>
<div class="row">
{% for subject in all_subject %}
     <div class="form-group col-md-6 mb-4">
              <ul class="list-group">
                  <li class="list-group-item active" aria-current="true">
                  {{subject}}
                  
                  <a href="{% url 'subject_detail' subject.pk %}">
                        <span class="float-right btn btn-secondary  btn-sm btn-rounded">
                            Get Info
                        </span>
                    </a>

                </li>
                  <li class="list-group-item"></li>
                  <li class="list-group-item">
                    <span class="fw-bold float-left">Subject Code </span>
                    <span class="fw-bold float-right">{{subject.subject_code}}</span>
                  </li>
                   <li class="list-group-item">
                    <span class="fw-bold float-left">Teachers Assigned </span>
                    <span class="fw-bold float-right">
                      {% for teacher_subject in subject.teachers.all %}
                      <span type="button" class="badge bg-dark text-light">
                          <span class="badge bg-danger ms-2">{{forloop.counter}}</span>
                          {{teacher_subject}}
                      </span>
                       
                      {% endfor %}
                    </span>
                  </li>
               <li class="list-group-item">

                    <span class="fw-bold float-left">Number Of Tests Active</span>
                    <span class="fw-bold float-right">{{subject.no_of_test_in_subject}}</span>
                  </li>
        
                    
            </ul>

    </div>

{% endfor %}
          

    </div>




 {% endblock content %}