{% extends 'teachers/teachers_base.html' %}
{% load static %}

{% block content %}

<h2 class="h1 fw-bold text-center">My Students</h2>
<hr>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Roll No</th>
          <th scope="col">Full Name</th>
          <th scope="col">Student subjects</th>
          <th scope="col">Phone number</th>
          <th scope="col">Email</th>
          <th scope="col">Verification Status</th>
        </tr>
      </thead>
      <tbody>
            {% for student in  my_students%}
                    <tr>
                          <th scope="row">
                            <a href="">
                              <button type="button" class="btn btn-dark btn-sm">{{student.college_rollno}}</button>
                            </a>
                            
                          </th>

                          <td>{{student.user.get_full_name}}</td>

                          <td>
                            {% for subject in  student.student_subjects.all %}
                            <span class="badge bg-primary">{{subject.subject_name}}</span>
                            {% endfor %}

                          </td>
                          <td>{{student.phone_number}}</td>
                          <td>{{student.user.email}}</td>

                          <td>
                            {% if student.verify %}
                            <a href="{% url 'verify_student' student.pk %}">
                              <button type="button" class="btn btn-success btn-sm px-3 mt-2" data-mdb-toggle="tooltip" title="Verified Student">
                                <i class="fas fa-check"></i>
                              </button></a>
                            {% else %}
                              <a href="{% url 'verify_student' student.pk %}">
                                   <button type="button" class="btn btn-danger btn-sm px-3  mt-2" data-mdb-toggle="tooltip" title="Click Here To verify this student">
                                    <i class="fas fa-times"></i>
                                  </button>
                              </a>                         


                            {% endif %}
                             <button type="button" class="btn btn-secondary btn-sm px-3 mt-2">
                              <i class="fas fa-pencil-alt"></i>
                            </button>
                          </td>
                    </tr>
            {% endfor %}


      </tbody>
    </table>
</div>
 {% endblock content %}