{% extends 'teachers/teachers_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}










<h4 class="h4 fw-bold"> Tests in <span style="color:#1E90FF">{{subject}} </span><span style="color:red">[ {{subject.subject_code}} ] </span> 
<a href="{% url 'subject_update' subject.pk %}">
    <button type="button" class="btn btn-secondary btn-sm btn-floating"> <i class="fas fa-pencil-alt "></i></button></a>

<span class="float-right  pt-2">
    <a href="{% url 'test_create' subject.id %}" >
        <button type="button" class="btn btn-dark btn-rounded mt-2 ">Create a new Test</button>
    </a>    

</span>
</h6>
<br>
<br><br>
<style type="text/css">
    .list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: black;
        border-color: black;
    }
</style>
<div class="row">
{% for test in test_in_subject %}
     <div class="form-group col-md-6 mb-3">
              <ul class="list-group">
                  <li class="list-group-item active" aria-current="true">
                  {{test.test_title}}
                  
                  <a href="{% url 'test_detail' test.id %}">
                        <span class="float-right btn btn-secondary  btn-sm btn-rounded">
                            Get Info
                        </span>
                    </a>

                </li>
                    <li class="list-group-item">
                    <span class="fw-bold float-left">Test Duration</span>
                    <span class="fw-bold float-right"> {{test.duration|date:"h:i:s" }}</span><em> (HH:MM:SS)</em>
                  </li>
                  

                  <li class="list-group-item">
                    <span class="fw-bold float-left">Active Status </span>
                    <span class="fw-bold float-right">
                                                 {% if  test.make_active   %}

                                  <button type="button"  class="btn  btn-success btn-sm px-2">
                                      <i class="far fa-check-circle fa-2x"></i>
                                {% else %}
                                <a>
                                    <button type="button" class="btn  btn-danger btn-sm px-2">
                                      <i class="far fa-times-circle fa-2x"></i></a>
                                  
                                {% endif %}

                            </span>
                  </li>
                <li class="list-group-item">
                    <span class="fw-bold float-left">Total Questions </span>
                    <span class="fw-bold float-right">{{test.total_question}}</span>
                  </li>            
                   <li class="list-group-item">
                    <span class="fw-bold float-left">Questions Added</span>
                    <span class="fw-bold float-right">{{test.get_total_questions}}</span>
                  </li>
                  

                <li class="list-group-item">
                    <span class="fw-bold float-left">Maximum  marks </span>
                    <span class="fw-bold float-right">{{test.max_mark}}</span>
                  </li>
                <li class="list-group-item">
                    <span class="fw-bold float-left">Passing marks </span>
                    <span class="fw-bold float-right">{{test.passing_marks}}</span>
                  </li>

        
            </ul>

    </div>
    {% empty %}
           <span class="display-4">No test please craete a new test</span>
    

{% endfor %}
          

    </div>

          





 {% endblock content %}