{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main_page' %}">
      <img src="{% static 'logo.png' %}" width="60" height="40" class="d-inline-block align-top" alt="">
      {% if user.is_hod %}
          HOD
      {% elif user.is_teacher %}
          Teacher

      {% endif %}
      Dashboard</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if user.is_hod %}
                <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'all_subject' %}">All Subjects</a>
        </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'subject_create' %}">Create Subject</a>
          </li> 
           <li class="nav-item">
            <a class="nav-link" href="{% url 'all_teacher_details' %}">All Teachers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_students' %}">All Students</a>
          </li>


        {% elif user.is_teacher %}
                <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'my_subject' %}">My Subjects</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_students' %}">My Class Students</a>
          </li>

          

        {% endif %}
                    <li class="nav-item">
            <a class="nav-link" href="{% url 'reported_student_list' %}">Reported Students</a>
          </li>

           {% block navibar %}

        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        {% endblock navibar %}
      
</ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.get_full_name}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}"><button class="btn btn-danger btn-sm">Log Out</button></a>
                <div class="dropdown-divider"></div>
              </div>
            </li>
                <li class="nav-item">
                     
        </li>
      </ul>
      
      </span>
    </div>
  </div>
</nav>




</nav>
