{% extends 'students/student_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templates_tags %}

{% block content %}







<h4 class="h3 fw-bold">All Tests in <span style="color:#1E90FF">{{subject}} </span><span style="color:red">[ {{subject.subject_code}} ] </span> 
</h4>
<hr>
<style type="text/css">
    .list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: black;
        border-color: black;
    }
        #video {
        border: 1px solid black;
        width: 320px;
        height: 240px;
    }


    .camera {
        width: 340px;
        display: inline-block;
    }

    .output {
        width: 340px;
        display: inline-block;
    }
    canvas{
            border: 1px solid black;
        width: 320px;
        height: 240px;

    }
</style>
<div class="row">
{% for test in test_in_subject %}
     <div class="form-group col-md-6 mb-3">
              <ul class="list-group">
                  <li class="list-group-item active" aria-current="true">
                  {{test.test_title}}
                   {% if   request.user|eligible_student_test:test.id  %}
                    {#   <a href="{% url 'quiz-list' test.pk %}"> #}


                        <button type="button" id='start_test_button' test-id='{{test.pk}}' class="float-right  btn btn-primary btn-sm btn-rounded start_test" data-toggle="modal" data-target="#exampleModalCenter">
                                <i class="fas fa-play"></i> Start Test
                                </button>
                        {# </a> #}
                {% endif %}
                                  

                </li>
                    <li class="list-group-item">
                    <span class="fw-bold float-left">Test Duration</span>
                    <span class="fw-bold float-right"> {{test.duration|date:"h:i:s" }}</span><em> (HH:MM:SS)</em>
                  </li>
                  

                <li class="list-group-item">
                    <span class="fw-bold float-left">Total Questions </span>
                    <span class="fw-bold float-right">{{test.total_question}}</span>
                  </li>
                  
                <li class="list-group-item">
                    <span class="fw-bold float-left">Maximum  marks </span>
                    <span class="fw-bold float-right">{{test.max_mark}}</span>
                  </li>
                <li class="list-group-item">
                    <span class="fw-bold float-left">Passing marks </span>
                    <span class="fw-bold float-right">{{test.passing_marks}}</span>
                  </li>

                 <li class="list-group-item">
                    <span class="fw-bold float-left">The Test Will Start at</span>
                    <span class="fw-bold float-right">{{test.exam_start_time}}</span>
                  </li>

                <li class="list-group-item">
                    <span class="fw-bold float-left">The Test Will End at</span>
                    <span class="fw-bold float-right">{{test.exam_end_time}}</span>
                  </li>

        
            </ul>

    </div>

{% endfor %}
          

    </div>

          
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Student Verification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <center>
            <div class="contentarea">
                {% csrf_token %}
                <div class="camera">
                    <video id="video" >Video stream not available.</video>
                </div>
                <div><button id="startbutton" class="btn btn-primary btn-lg mb-5">Take photo</button></div>
                <canvas id="canvas">

                <div class="output">
                    <img id="photo" alt="The screen capture will appear in this box.">
                </div></canvas>
            </div>
        </center>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" id='proceed_to_exam' class="btn btn-success" disabled >Proceed</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/video_capuring.js' %}"></script>


 {% endblock content %}