  {% load static %}
  
  <!--Footer-->

  <footer class="page-footer text-center wow fadeIn sticky-bottom"  style="background-color: #45637d;" style="margin-bottom:0px">
    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">



      {% comment %} <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fab fa-facebook-f mr-3"1></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a> {% endcomment %}


    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
          Copyright © 2021 JAAVS Startup 
    </div>
    <!--/.Copyright-->

  </footer>

  <!--/.Footer-->

  