<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="http://gymwebsite.pythonanywhere.com/static/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Exam Protal
  </a>

    <span id="time" class="float-right"></span>
    <button class="btn btn-lg btn-primary float-right"  data-toggle="modal" data-target="#exampleModalLong" id='show_all_question'>
      Show all Questions
      
    </button>
    <div class="col-6 col-md-4">
 
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
               <div class="row " id='all_question_frame'>


               </div>
                       
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</nav>
<script type="text/javascript">
      var all_question=document.getElementById('show_all_question');
      var all_question_frame=document.getElementById('all_question_frame');
      
        all_question.addEventListener('click',
              (event)=>{

                  all_question_deatils();
             


            function all_question_deatils() {


                      $j.ajax(

                      {

                          type:'GET',

                          url:'/get-all-question-details/',


                              
                        success :function(response){

                            all_question=response.all_question_json
                            let all_question_text_button=''
                            for (i in all_question) {

                              
                                    if (all_question[i].student_option){
                                       if (all_question[i].bookmark){
                                        all_question_text_button=all_question_text_button+`<div class="col mt-3"><a class="btn  btn-primary btn-block"  tabindex="-1" id='previous_question'><b>Q` +(parseInt(i)+1)+'<span style="color:red">('+all_question[i].student_option+')</span>' +` </b></a></div>` ;                                    

                                       }else {
                                         
                                      all_question_text_button=all_question_text_button+`<div class="col mt-3"><a class="btn  btn-warning btn-block"  tabindex="-1" id='previous_question'><b>Q` +(parseInt(i)+1)+'<span style="color:red">('+all_question[i].student_option+')</span>' +` </b></a></div>` ;                                    
                                       }
                                      
                                    }
                                    else {

                                      if (all_question[i].bookmark){
                                        all_question_text_button=all_question_text_button+`<div class="col mt-3"><a class="btn  btn-primary btn-block"  tabindex="-1" id='previous_question'><b>Q` +(parseInt(i)+1) +` </b></a></div>` ;                                      

                                       }else {
                                         
                                      all_question_text_button=all_question_text_button+`<div class="col mt-3"><a class="btn  btn-danger btn-block"  tabindex="-1" id='previous_question'><b>Q` +(parseInt(i)+1) +` </b></a></div>` ;                                      
                                       }

                                    
                                    }


                                 }
                           all_question_frame.innerHTML=all_question_text_button
                           }
                      })
                   
                }

                }
              );
</script>